.btnExploreFood {
  position: absolute;
  width: 322px;
  height: 89px;
  left: 20px;
  top: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

.btnExploreDrink {
  position: absolute;
  width: 322px;
  height: 89px;
  left: 19px;
  top: 173px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  
  color: #000000;
}
